@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-geist-sans);
  }
}

.hero-bg {
  background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.75)), url('/images/hero.jpg');
  background-size: cover;
  background-position: center;
}